config SHIELD_CHARYBDIS_LEFT
    def_bool $(shields_list_contains,charybdis_left)

config SHIELD_CHARYBDIS_RIGHT
    def_bool $(shields_list_contains,charybdis_right)

source "$(ZEPHYR_BASE)/../zmk/drivers/sensor/pmw3610/Kconfig"
